/* 
    Created on : 11 May, 2016, 12:35:42 AM
    Author     : adisingh1992
*/
*{
    box-sizing: border-box;
    font-family: 'Rokkitt', sans-serif;
}

body{
    margin: 2%;
    background-color: #3E3D3D;
}

#container{
    width: 75%;
    padding: 1%;
    margin: auto;
    background-color: #F5F3F3;
    color: #332F2F;
    animation: fadeIn 2s ease-in 1;
    box-shadow: 3px 3px 5px #C9C5C2;
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.col-100{
    width: 100%;
}

.col-25{
    width: 25%;
}

.col-50{
    width: 50%;
}

.col-75{
    width: 75%;
}

[class*="col-"]{
    float: left;
}

.row:after{
    content:"";
    clear: both;
    display: block;
}

h1{
    font-size: 2.5em;
}

h2{
    color: #E07A0E;
}

.sub-head{
    font-style: italic;
    color: #E07A0E;
    font-weight: 300;
    padding: 1%;
    text-align: center;
}

.sub-para{
    font-size: 1.2em;
    color: #716E6B;
}

.break{
    width: 90%;
    margin: auto;
}

.line-break{
    margin: 0;
    padding: 10px;
    border: 1px solid #B6B2AF;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.line-break1{
    margin: 0;
    padding: 10px;
    border: 1px solid #B6B2AF;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

hr{
    display: block;
    border-top: 3px solid #E07A0E;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

#profile-img{
    border-radius: 50%;
    margin: 10% 0 0 10%;
}

span{
    font-weight: bold;
}

/* latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: local('Rokkitt'), local('Rokkitt-Regular'), url(http://fonts.gstatic.com/s/rokkitt/v10/Uu8b3yBtxQPmPTMr0WQ_CA.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 700;
  src: local('Rokkitt Bold'), local('Rokkitt-Bold'), url(http://fonts.gstatic.com/s/rokkitt/v10/Mef17w3J4CtS0lw4Wa_8r_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}